@CHARSET "UTF-8";
h1{

margin-left: 5em;
}
#header-center {
   text-align: center;
	 background: linear-gradient();
}
.fixed{



}
#table {
	top: 12px;
}
ul li {
		display: inline;
		position: fixed;
}
body{
background-color: #0087cc;
background-image: url(http://images.clipartpanda.com/blue-clouds-background-blue-cloud-background-blue2-19029417-1920-9861.jpg);
background-repeat: no-repeat;
background-size:cover;


}
div img{
   position: fixed;
    top: 0;
    right: 0;
    width: 50em;

}
#primary_nav_wrap
{
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #1a1a1a;
	border-bottom: 1px solid #ccc;
}

#primary_nav_wrap ul
{
	list-style:none;
	position: relative;
	float:left;
	margin:0;
	padding:0;

}

#primary_nav_wrap ul a
{
	display:block;
	color: white;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 55px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.menu-item
{
	background:#1a1a1a;
}
#rightside {
	float:right;
	left: 2em;
}
#stretch{
		background-color: #1a1a1a;
		padding-right: 500px;
}
#primary_nav_wrap ul li:hover
{
	background:#66d9ff;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff444;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
#dbsign{
		text-align: center;
		vertical-align: middle;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
span {
		color: #5379fa;
}
